
@{
    ViewData["Title"] = "Update";
}

@model CreateProductVM
<div class="container">
    <div class="card mt-5">
        <div class="card-body">
            <h4 class="card-title">Default form</h4>
            <p class="card-description">
                Create 
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
               
                @switch (ViewBag.key)
                {
                    case 1:
                         <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    break;
                    case 2:
                                 <div class="form-group">
                            <label asp-for="Price"></label>
                            <input asp-for="Price"  class="form-control">
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    break;

                    case 3:

                        <div class="form-group">
                            <label asp-for="CoverImage"></label>
                            <input asp-for="CoverImage" accept="image/*" class="form-control">
                            <span asp-validation-for="CoverImage" class="text-danger"></span>
                        </div>
                        break;

                    case 4:
                             <div class="form-group">
                            <label asp-for="HoverImage"></label>
                            <input asp-for="HoverImage" accept="image/*" class="form-control">
                            <span asp-validation-for="HoverImage" class="text-danger"></span>
                        </div>
                    break;

                    case 5:
                            <div class="form-group">
                            <label asp-for="OtherImages"></label>
                            <input asp-for="OtherImages" accept="image/*" class="form-control">
                            <span asp-validation-for="OtherImages" class="text-danger"></span>
                        </div>
                    break;
                }
               

             

                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>

