
@{
    ViewData["Title"] = "UpdateList";
}
<div style="text-align: center;padding:40px">

<h4>What do you want change?</h4>

<a class="btn btn-info" asp-area="Admin" asp-controller="Product" asp-action="Update"  asp-route-key="1" >Name</a>
<a class="btn btn-info" asp-area="Admin" asp-controller="Product" asp-action="Update"  asp-route-key="2">Price</a>
<a class="btn btn-info" asp-area="Admin" asp-controller="Product" asp-action="Update"  asp-route-key="3">Cover Image</a>
<a class="btn btn-info"asp-area="Admin" asp-controller="Product" asp-action="Update"  asp-route-key="4">Hover Image</a>
<a class="btn btn-info"asp-area="Admin" asp-controller="Product" asp-action="Update"  asp-route-key="5">Other Images</a>
</div>


